body, div, form { font-size: 14px; font-family: Arial,Helvetica,Sans-Serif; margin: 0; padding: 0;}
body { background-color: #fff; text-align: center; }
div, p, hr { float: left; clear: left; width: 768px; text-align: left; }
p {margin: 5px, 0 , 5px, 0;}
h1 { font-size: 24px; font-style: italic; margin: 0; color: #900; }
h2 { margin: 12px 0 6px 0; font-size: 16px; }

#main { float: none; margin: 10px auto 10px auto; width: 768px;}
#col1, #col2, #col3 { font-size: 12px; }
#col1, #col2 { width: 252px; }
#col2 { clear: none; }
#col3 { width: 252px; clear: right; margin: 0; float:left; }
#header {width: 768px; clear:both;}
#footer { margin-top: 10px; }
#error, .req { color: red; }

.txt,
select,
textarea { width: 249px; font-size: 12px; }
.short { height: 80px; }
a:visited, a:link  { color: #666; text-decoration: none; }
a:hover { text-decoration: underline; }
